.container {
    padding: 30px;
    border-radius: 10px;
  
}

.map-area {
    width: 100%;
    height: 465px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.map-area iframe {
    width: 100%;
    height: 100%;
    border: none;
}

@media (min-width: 768px) {
    .contact-form {
        margin-right: 30px;
    }

    .map-area {
        width: calc(100% - 30px);
        height: 465px;
    }
}

.form-map-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact-form {
    width: 100%;
    max-width: 500px;
}