
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.navbar-light .navbar-nav .nav-link {
    color: navy !important;
}



.navbar-brand img {
    max-height: 60px;
}

.navbar-nav .nav-link {
    color: #333;
    transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link.active {
    text-decoration: underline;
   /* text-decoration-color: white !important;
    color: white !important; */
} 



.navbar-nav .nav-link:hover {
color: white !important;
}

header {
    background: #0f0c29;
    padding: 20px 0;
    font-family: 'Poppins', sans-serif;
     background: linear-gradient(to right,  #D6E4FF, #A9D5E5); 
}


#carouselExampleCaptions {
    height: calc(100vh - 56px); 
}

.carousel-inner {
    height: 100%;
}

.carousel-item {
    height: 100vh;
}

.carousel-control-prev,
.carousel-control-next {
    top: 50%;
    transform: translateY(-50%);
}

.carousel-caption {
    top: 0;
    bottom: unset;
    transform: translateY(0%);
}

/* Custom CSS for underlining active page link */
.navbar-nav .nav-link.active {
    text-decoration: underline;
}

/* Custom CSS for styling search button */
.navbar .btn.btn-outline-success {
    color: navy; /* Blue color */
    border-color: navy; /* Blue color */
    background-color: transparent; /* Transparent background */
}

/* Custom CSS to style search button when clicked */
.navbar .btn.btn-outline-success:active {
    color: #fff; /* White color for text */
    background-color: navy; /* Blue color */
    border-color: navy; /* Blue color */
}




